body {
  width: 100%;
}

table.common {
  border-collapse: collapse;
  border-spacing: 5px;
  padding: 0;
  width: 80%;
  margin: 3% auto auto auto;
}

table.common tr{
  border-bottom: solid 2px white;
}

table.common th{
  position: relative;
  width: 20%;
  background-color: #87cefa;
  color: white;
  text-align: center;
  padding: 1% 1% 1% 1%;
}

table.common td{
  text-align: left;
  width: 20%;
  background-color: #f0f8ff;
  padding: 1% 1% 1% 1%;
}

.btn-common{
	width:100%;
	margin: auto;
	margin-left: auto;
  	margin-right: auto;
	color:black;
	background-color:#fff352;
	border-color:#fff352;
}

.form-width{
	width: 30%
}

.form-select{
	width: 30%
}

.mgn{
	width:80%;
	margin: 1% auto 1% auto;
}

table.plan {
  border-collapse: collapse;
  border-spacing: 5px;
  padding: 0;
  width: 80%;
  margin: 1% auto auto auto;
  border-spacing: 10px 10px;
}

table.plan tr{
  border-bottom: solid 2px white;
}

table.plan th{
  position: relative;
  text-align: left;
  width: 20%;
  background-color: #48d1cc;
  color: white;
  padding: 1% 1% 1% 1%;
}

table.plan td{
  text-align: left;
  width: 20%;
  background-color: #f0f8ff;
  padding: 1% 1% 1% 1%;
}

.btn-vacancy-room{
	width:100%;
	margin: auto;
	margin-left: auto;
  	margin-right: auto;
	color:black;
	background-color:#ffd700;
	border-color:#ffd700;
}

.img-width img{
	width:100%;
}

table.vacancy-room {
  border-collapse: collapse;
  border-spacing: 5px;
  padding: 0;
  width: 80%;
  margin: 1% auto auto auto;
}

table.vacancy-room tr{
  border: solid 2px #a9a9a9;
}

table.vacancy-room th{
  position: relative;
  text-align: left;
  width: 10%;
  background-color: #90ee90;
  color: white;
  text-align: center;
  padding: 1% 1% 1% 1%;
  border: solid 2px #a9a9a9;
}

table.vacancy-room th.sunday{
  position: relative;
  text-align: left;
  width: 10%;
  background-color: #ff6347;
  color: white;
  text-align: center;
  padding: 1% 1% 1% 1%;
}

table.vacancy-room th.saturday{
  position: relative;
  text-align: left;
  width: 10%;
  background-color: #87cefa;
  color: white;
  text-align: center;
  padding: 1% 1% 1% 1%;
}

table.vacancy-room td{
  text-align: center;
  width: 10%;
  background-color: #ffffff;
  padding: 1% 1% 1% 1%;
  border: solid 2px #a9a9a9;
}

table.vacancy-room td.sunday{
  width: 10%;
  background-color: #ffe4c4;
  padding: 1% 1% 1% 1%;
}
table.vacancy-room td.saturday{
  width: 10%;
  background-color: #f0f8ff;
  padding: 1% 1% 1% 1%;
}

.btn-dismiss{
	width: 20%;
}

.month-form{
	width: 20%;
}

.errorMsg{
   box-sizing: border-box;
   border-radius: 8px;
   background-color: #fce3e3;
   border: 2px solid #ba2020;
   border-left-width: 8px;
   color: #ba2020;
   margin-top: 1%;
   padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 3%;
   width: 100%;
}

.btn-next{
	width:20%;
	margin: 1% 0% 1% auto;
	color:black;
	background-color:#fff352;
	border-color:#fff352;
}

.btn-back{
	width:20%;
	margin: 1% auto 1% 0%;
	color:black;
	background-color:#d3d3d3;
	border-color:#d3d3d3;
}

.btn-complete{
	width:20%;
	margin: 1% 0% 1% auto;
	color:black;
	background-color:#ff6347;
	border-color:#ff6347;
}

.footer{
	margin-top: 10%;
}

.attentionMsg{
   box-sizing: border-box;
   border-radius: 8px;
   background-color: #ffebcd;
   border: 2px solid #ff7f50;
   border-left-width: 8px;
   color: #ba2020;
   margin-top: 1%;
   padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 3%;
   width: 80%;
}

.commonMsg{
   box-sizing: border-box;
   border-radius: 8px;
   background-color: #fffacd;
   border: 2px solid #ffa500;
   border-left-width: 8px;
   color: #ba2020;
   margin-top: 1%;
   padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 3%;
   width: 80%;
}
