<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/common.css}" />
<title>予約</title>
</head>
<body>
<!-- ヘッダー -->
<div th:insert="common :: fragment-header"></div>

<main>
<form th:action="@{/reservation/form/complete}" method="post" th:object="${reservationForm}">
<div class="mgn">
<div th:errors="${reservationForm}" class="errorMsg"></div>
</div>
<div class="mgn"><div class="attentionMsg">この内容で予約してもよろしいですか？</div></div>
<table class="common">
<tr>
	<th>宿泊者情報</th>
</tr>
<tr>
	<td>
	<div class="row">
	<div class="col-3">宿泊者氏名：</div>
	<div class="col-9" th:text=*{name}></div>
	</div>
	</td>
</tr>
<tr>
	<td>
	<div class="row">
	<div class="col-3">宿泊者氏名ふりがな：</div>
	<div class="col-9" th:text=*{nameKana}></div>
	</div>
	</td>
</tr>
<tr>
	<td>
	<div class="row">
	<div class="col-3">宿泊者連絡先<br>（電話番号）：</div>
	<div class="col-9" th:text=*{telephoneNumber}></div>
	</div>
	</td>
</tr>
<tr>
	<td>
	<div class="row">
	<div class="col-3">チェックイン時刻：</div>
	<div class="col-9" th:text=*{checkinTime}></div>
	</div>
	</td>
</tr>
<tr>
	<th>予約詳細</th>
</tr>
<tr>
	<td>
	<div class="row">
	<div class="col-3">宿泊プラン：</div>
	<div class="col-9" th:text=${session.planName}></div>
	</div>
	</td>
</tr>
<tr>
	<td>
	<div class="row">
	<div class="col-3">チェックイン：</div>
	<div class="col-9" th:text=*{checkinDate}></div>
	</div>
	</td>
</tr>
<tr>
	<td>
	<div class="row">
	<div class="col-3">チェックアウト：</div>
	<div class="col-9" th:text=*{checkoutDate}></div>
	</div>
	</td>
</tr>
<tr>
	<td>
	<div class="row">
	<div class="col-3">宿泊人数：</div>
	<div class="col-9" th:text=*{guestNumber}></div>
	</div>
	</td>
</tr>
<tr>
	<th>料金</th>
</tr>
<tr>
	<td>
	<div class="row">
	<div class="col-3">合計金額：</div>
	<div class="col-9" th:text="${#numbers.formatInteger(reservationForm.totalPrice, 1, 'COMMA')} +'円'"></div>
	</div>
	</td>
</tr>
</table>

<input type="hidden" name="name" th:field="*{name}">	
<input type="hidden" name="nameKana" th:field="*{nameKana}">	
<input type="hidden" name="telephoneNumber" th:field="*{telephoneNumber}">	
<input type="hidden" name="checkinTime" th:field="*{checkinTime}">	
<input type="hidden" name="planId" th:field="*{planId}">
<input type="hidden" name="checkinDate" th:field="*{checkinDate}">
<input type="hidden" name="checkoutDate" th:field="*{checkoutDate}">
<input type="hidden" name="guestNumber" th:field="*{guestNumber}">
<input type="hidden" name="totalPrice" th:field="*{totalPrice}">
<div class="mgn row">
	<button class="btn btn-back col-3" type="button" onclick="window.history.back();">戻る</button>
	<button class="btn btn-complete col-3" type="submit">この内容で予約する</button>
</div>
</form>
</main>
<!-- フッター -->
<div th:insert="common :: fragment-footer"></div>

<!--jQueryを読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--jQuery UIを読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
